body, * {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  user-select: none;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.square {
  border: 3px solid black;
  background: hsl(0, 0%, 50%);
  display: flex;
  flex-direction: column;
  min-width: 35vw;
  min-height: 35vw;
  max-width: 80vw;
  max-height: 80vw;
  width: max-content;
  height: max-content;
}

.row {
  border: 2px solid grey;
  display: inline-flex;
  flex: 1;
}

.pixel {
  border: 1px solid whitesmoke;
  display: flex;
  flex: 1;
  transition: background 2s steps(.05, step-end);
}

.pixel:hover {
  background: hsl(0, 0%, 70%);
}